body, html {
    font-family: 'Cairo', sans-serif;
    font-size:22px;
    overflow-x: hidden;
    direction: rtl;
    height: 1000px;
}

:root {
    --color1: #B6FFFF;
    --color2: #115561;
    --color3: #fff;
    --color4: #121212;
    --color5: #70b4c5;
    --color6: #4A7B87;
}

/*--------------------start section .container-fluid.content------------------*/
.container-fluid.content {
    height: 92%;
    padding: 20px 50px;
    position: absolute;
    top: 55px;
    z-index:1
}
/*---------------header---------------------*/
/*-----------------------------------Start reservation ------------------------------*/
.reservation {padding: 20px;box-shadow: 0 0 5px 0px #322b2b91;}

.reservation a.return {
    text-decoration: none;
    color: var(--color6);
    font-weight: 700;
    display: block;
    font-size: 16px;
}

.reservation .receipt {
    font-size: 20px;
    font-weight: 700;
    color: var(--color6);
}

.reservation .viewday {font-size: 18px;font-weight: bold; }
/*-----------start calendar---------------*/
.content {padding: 50px 0 50px 0;}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --calendar-bg-color: #262829;
    --calendar-font-color: #FFF;
    --weekdays-border-bottom-color: #404040;
    --calendar-date-hover-color: #505050;
    --calendar-current-date-color: #1b1f21;
    --calendar-today-color: linear-gradient(to bottom, #03a9f4, #2196f3);
    --calendar-today-innerborder-color: transparent;
    --calendar-nextprev-bg-color: transparent;
    --next-prev-arrow-color : #FFF;
    --calendar-border-radius: 16px;
    --calendar-prevnext-date-color: #484848
}

* {
    padding: 0;
    margin: 0;
}

.calendar {
    font-family: 'IBM Plex Sans', sans-serif;
    position: relative;
    /*max-width: 400px; change as per your design need */
    min-width: 320px;
    /*background: var(--calendar-bg-color);
    color: var(--calendar-font-color);*/
    box-sizing: border-box;
    overflow: hidden;
    font-weight: normal;
    border-radius: var(--calendar-border-radius);
    direction: ltr;
}

.calendar-inner {
    padding: 10px 10px;
}

.calendar .calendar-inner .calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    border: 2px solid #d9d9d987;
    padding: 20px;
}

.calendar .calendar-inner .calendar-body div {
    padding: 4px;
    min-height: 30px;
    line-height: 30px;
    border: 1px solid transparent;
    margin: 10px 2px 0px;
}

.calendar .calendar-inner .calendar-body div:nth-child(-n+7) {
    background: #eaeaed;
    margin: 0;
    color: #000000bf;
    font-size: 18px;
}

.calendar .calendar-inner .calendar-body div>a {
    /*color: var(--calendar-font-color);*/
    color: #000;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.calendar .calendar-inner .calendar-body div:hover {
    border: 1px solid var(--calendar-date-hover-color);
    border-radius: 4px;
    background-color: aliceblue;
}

.calendar .calendar-inner .calendar-body div.empty-dates:hover {
    border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-controls {
    display: flex;
    border: 2px solid #d9d9d987;
    padding: 20px;
    position:relative; 
    border-bottom: 0;
    direction: rtl;
}

.calendar .calendar-inner .calendar-controls::before {
    content: "calender";
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 25px;
    color: #4a7b87;
}

.calendar .calendar-inner .calendar-controls .date {
    display: flex;
    background: #4a7b87;
    height: 45px;
    color: #fff
}

.calendar .calendar-inner .calendar-today-date {
    display: grid;
    text-align: center;
    cursor: pointer;
    margin: 3px 0px;
    background: var(--calendar-current-date-color);
    padding: 8px 0px;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    display: none;
}

.calendar .calendar-inner .calendar-controls .calendar-year-month {
    display: flex;
    min-width: 100px;
    justify-content: space-evenly;
    align-items: center;
}

.calendar .calendar-inner .calendar-controls .calendar-next,.calendar .calendar-inner .calendar-controls .calendar-prev {
    text-align: right;
    width: fit-content;
}

.calendar .calendar-inner .calendar-controls .calendar-year-month .calendar-year-label,
.calendar .calendar-inner .calendar-controls .calendar-year-month .calendar-month-label {
    font-weight: 500;
    font-size: 20px;
}

.calendar .calendar-inner .calendar-body .calendar-today {
    background: var(--calendar-today-color);
    border-radius: 4px;
}

.calendar .calendar-inner .calendar-body .calendar-today:hover {
    border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-body .calendar-today a {
    outline: 2px solid var(--calendar-today-innerborder-color);
}

.calendar .calendar-inner .calendar-controls .calendar-next a,
.calendar .calendar-inner .calendar-controls .calendar-prev a {
    color: var(--calendar-font-color);
    font-family: arial, consolas, sans-serif;
    font-size: 26px;
    text-decoration: none;
    padding: 4px 5px;
    display: inline-block;
    background: var(--calendar-nextprev-bg-color);
    /*margin: 10px 0 10px 0;*/
}



.calendar .calendar-inner .calendar-controls .calendar-next a svg path,
.calendar .calendar-inner .calendar-controls .calendar-prev a svg path{
    fill: var(--next-prev-arrow-color);
}

.calendar .calendar-inner .calendar-body .prev-dates,
.calendar .calendar-inner .calendar-body .next-dates {
    color: var(--calendar-prevnext-date-color);
}

.calendar .calendar-inner .calendar-body .prev-dates:hover,
.calendar .calendar-inner .calendar-body .next-dates:hover {
  border: 1px solid transparent;
  pointer-events: none;
}

/*-------------rightSide --------*/
.content .reservation .rightSide {padding: 10px 20px;}


.content .rightSide .instructions {border: 2px solid #d9d9d987;padding: 20px;border-radius: 10px;}


.content .rightSide .instructions .reserved {
    font-size: 15px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

.content .rightSide .instructions span {
    background-color: #4A7B87;
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-left: 10px;
    border-radius: 3px;
}


/*--------------start instructions--------------*/

.content .rightSide .instructions .unconfirmed span {background-color: #35f3ed85;}
.content .rightSide .instructions .internal span {background-color: #44db31;}
.content .rightSide .instructions .close span {background-color: #ffc29a;}
/*--------------end instructions--------------*/
.content .rightSide button:hover {background-color: var(--color5);}

.content .rightSide   button {background-color: var(--color2);color: var(--color3); transition: all .5s linear;}

.content .rightSide  button:hover {background-color: var(--color5);}

.content .rightSide .share {font-size: 22px; font-weight: 700;}
.content .rightSide .share i{color: var(--color6);}
/*-----------end calendar---------------*/
/*-----------------------------------End reservation ------------------------------*/
/*-----------------------------------Start section3 ------------------------------*/
.section3 h6 {font-weight: 700;margin: 0;}
.section3 select {
    color: #000;
    background-color: #b6ffff;
    border: none;
    height: 40px;
    width: 125px;
    text-align: center;
    OUTLINE: 0;
    BORDER-RADIUS: 10px;
}


.section3 .content-table{
	margin: 25px 0 0 0;
	font-size: 0.9em;
	width: 100%; 
    border-radius: 10px 10px 0 0;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.section3 .content-table thead tr{background-color: #115561;color: #FFF;text-align: center;font-weight: bold;}

.section3 .content-table th,.section3 .content-table td{padding: 12px 15px;font-size: 13px;}

.section3 .content-table tbody tr{text-align: center;}

.section3 .content-table tbody tr:last-of-type{border-bottom: 1px solid #707070 ;}

.section3 .content-table button {
    width: 90px;
    height: 35px;
    border-radius: 10px;
    border: none;
}
.section3 .content-table button.done {background-color: #358683; color:#f8f8f8}
.section3 .content-table button.cancel {background-color: #FEA7AA; color:#f8f8f8}


/*------responsive .table ----------*/
.section3 .table {overflow: auto;}
/*-----------------------------------End section3 ------------------------------*/

@media screen and (max-width: 1199px) {
    .container-fluid.content header p {font-size: 16px;font-weight: 700;}
}

@media screen and (max-width: 991px) {
    body, html{     overflow-y: auto;overflow-x: hidden;}


    a.bell.ms-3 {display: block !important;color: var(--color3);}
    a.nav-link { color: var(--color3) !important;}
    .section3 .content-table button {width: 60px;font-size: 10px;height: 25px;
}
.section3 h6 {font-size: 17px;}
.section3 select {height: 40px;width: 115px;font-size: 17px;}
}

@media screen and (max-width: 767px) {
    /*--------------start section1 header------------------*/
    .container-fluid.content header p {text-align: center;}
    .look .boxs .box .data .num {
        font-size: 30px !important;
        font-weight: bold;
    }

    section.section3 {margin-top: 20px; }
    .section3 h6 {font-size: 17px;}
    .section3 select {height: 40px;width: 115px;font-size: 17px;}
}

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 481px) {

}

@media screen and (max-width: 360px) {
    .subscribeModel .newAccount, .newAccount2, .newAccount3 {height: 400px; padding: 44px 15px;}
}