body, html {
    font-family: 'Cairo', sans-serif;
    font-size:22px;
    overflow-x: hidden;
    direction: rtl;
    height: 1000px;
}

:root {
    --color1: #B6FFFF;
    --color2: #115561;
    --color3: #fff;
    --color4: #121212;
    --color5: #70b4c5;
    --color6: #4A7B87;
}

/*--------------------start section .container-fluid.content------------------*/
.container-fluid.content {
    height: 92%;
    padding: 20px 50px;
    position: absolute;
    top: 55px;
    z-index:1
}
/*--------------start section1 header------------------*/
.container-fluid.content header p {font-size: 20px;}

.container-fluid.content header form .copyUrl,.container-fluid.content header form .sub {display: flex;height: 45px;}

.container-fluid.content header form .copyUrl button {
    border-radius: 10px 0 0 10px;
    border: none;
    width: 35%;
    font-size: 18px;
    background-color: #f1f1f1;
}

.container-fluid.content header form .copyUrl input.form-control {
    border-radius: 0 10px 10px 0;
    width: 65%;
    font-size: 18px;
    border:none !important ;
    background-color: #f8f8f8;
    outline: 0 !important;
}

.container-fluid.content header form .copyUrl input.form-control:focus {  border-color: unset;outline: 0 !important; border:none !important
}


.container-fluid.content header form .sub button.btn.form-control {background-color: var(--color6); color: var(--color3);font-size: 18px;}

/*--------------End section1 header------------------*/


/*-----------------------------------start section2 look------------------------------*/
section.look {padding: 30px 0 0 0;}

.look .boxs .box 
{
    height: 120px;border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 5%);
}

.look .boxs .box .icon {color: #fff;background-color: var(--color6);border-radius: 0 10px 10px 0;}

.look .boxs .box .data {text-align: center;font-size: 17px;}

 .look .boxs .box .data .num {font-size: 20px !important;font-weight: bold;}
 .look h6 {font-weight: 700;}
/*-----------------------------------end section2 look------------------------------*/

/*-----------------------------------Start section3 ------------------------------*/
.section3 h6 {font-weight: 700;margin: 0;}
.section3 select {
    color: #000;
    background-color: #b6ffff;
    border: none;
    height: 40px;
    width: 125px;
    text-align: center;
    OUTLINE: 0;
    BORDER-RADIUS: 10px;
}


.section3 .content-table{
	margin: 25px 0 0 0;
	font-size: 0.9em;
	width: 100%; 
    border-radius: 10px 10px 0 0;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.section3 .content-table thead tr{background-color: #115561;color: #FFF;text-align: center;font-weight: bold;}

.section3 .content-table th,.section3 .content-table td{padding: 12px 15px;font-size: 13px;}

.section3 .content-table tbody tr{text-align: center;}

.section3 .content-table tbody tr:last-of-type{border-bottom: 1px solid #707070 ;}

.section3 .content-table button {
    width: 90px;
    height: 35px;
    border-radius: 10px;
    border: none;
}
.section3 .content-table button.done {background-color: #358683; color:#f8f8f8}
.section3 .content-table button.cancel {background-color: #FEA7AA; color:#f8f8f8}
/*------responsive .table ----------*/
.section3 .table {overflow: auto;}
/*-----------------------------------End section3 ------------------------------*/

@media screen and (max-width: 1199px) {
    .container-fluid.content header p {font-size: 16px;font-weight: 700;}
}

@media screen and (max-width: 991px) {
    body, html{     overflow-y: auto;overflow-x: hidden;}


    a.bell.ms-3 {display: block !important;color: var(--color3);}
    a.nav-link { color: var(--color3) !important;}
    .section3 .content-table button {width: 60px;font-size: 10px;height: 25px;
}
.section3 h6 {font-size: 17px;}
.section3 select {height: 40px;width: 115px;font-size: 17px;}
}

@media screen and (max-width: 767px) {
    /*--------------start section1 header------------------*/
    .container-fluid.content header p {text-align: center;}
    .look .boxs .box .data .num {
        font-size: 30px !important;
        font-weight: bold;
    }

    section.section3 {margin-top: 20px; }
    .section3 h6 {font-size: 17px;}
    .section3 select {height: 40px;width: 115px;font-size: 17px;}
}

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 481px) {

}

@media screen and (max-width: 360px) {
    .subscribeModel .newAccount, .newAccount2, .newAccount3 {height: 400px; padding: 44px 15px;}
}